/* purgecss start ignore */
@keyframes blurInGrayscale {
  0%{
    filter:blur(40px) grayscale(0);
  }
  30%{
    filter:blur(0) grayscale(.5);
  }
  100%{
    filter:blur(0) grayscale(1);
  }
}

@keyframes fillHorizontal {
  0%{
    transform-origin: left;
    transform:scaleX(0)
  }
  100%{
    transform:scaleX(1)
  }
}
/* purgecss end ignore */
