@import "vars";
@import "layout";
@import "animations";
@import "transitions";
@import "util";
@import "typography";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

